<md-dialog aria-label="Item Dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div>Select your item</div>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span>Cancel</span>
                </md-button>
                <label>Search: <input ng-model="item.name"></label>

                <div>
                    <md-select ng-model="search" placeholder="Search by" class="md-no-underline">
                        <md-option value="axe">Axe</md-option>
                        <md-option value="sword">Sword</md-option>
                        <md-option value="wand">Wand</md-option>
                        <md-option value="pen">Pen?</md-option>
                    </md-select>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ul>
                    <li ng-repeat="item in items | filter:item">
                        <img src="{{item.image}}" ng-click="selectItem(item)">
                        <md-tooltip md-delay="1200">
                            {{item.stats}}
                        </md-tooltip>

                    </li>
                </ul>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>