<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <<h3>Item stats</h3>
    <ul>
        <li>Health:{{totalHealth}}</li>
        <li>Mana:{{totalMana}}</li>
        <li>Health regeneration:{{totalHPRegen}}</li>
        <li>Mana regeneration:{{totalManaRegen}}</li>
        <li>Armor: {{totalArmor}}</li>
        <li>Magic resist: {{totalMagicResist}}</li>
        <li>Moevement speed:{{totalMS}}</li>
        <li>Attack damage:{{totalAD}}</li>
        <li>Attack speed:{{totalAS}}</li>
        <li>Critical chance: {{totalCrit}}</li>
        <li>Critical damage:{{totalCritDmg}}</li>
        <li>Ability power:{{totalAP}}</li>
    </ul>
</div>
</body>
</html>