<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Build Creation</h1>

<div style=" display: flex; justify-content: center">
    <md-input-container>
        <label>Build Name</label>
        <input type="text" ng-model="buildName" required md-maxlength="20">
    </md-input-container>
</div>

<div id="build-creation-form" align="center">
    <build-display-directive index="0"></build-display-directive>
    <build-display-directive index="1"></build-display-directive>
    <build-display-directive index="2"></build-display-directive>
    <build-display-directive index="3"></build-display-directive>
    <build-display-directive index="4"></build-display-directive>
    <build-display-directive index="5"></build-display-directive>
</div>
<div style=" display: flex; justify-content: center">
    <md-button class="md-primary md-raised" ng-click="saveBuild(buildName)">
        <span>Save Build</span>
    </md-button>
</div>
<div style="display: flex; justify-content: left">
    <build-status-directive></build-status-directive>
</div>
</body>
</html>